<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main>
                <section class="intro">
                    <h2>Exploring the Boundless Horizons</h2>
                    <p>
                        In a world where innovation knows no limits, <em>Aer Vult</em> emerges as a beacon of futuristic
                        exploration and discovery.
                        Our endeavors transcend the boundaries of time and space, ushering in a realm where dreams take
                        flight, and the future is forged.
                    </p>
                    <article class="articulo">
                        <div class="image-container">
                            <img src="images/Astronaut-Space-PNG-HD-Image.png" alt="Aer Vult Explorers">
                            <div class="overlay-text">
                                Discover the Unseen Wonders
                            </div>
                        </div>
                    </article>
                </section>

                <%- include('partials/footer') %>
            </main>
    </body>

</html>