<footer>
    <div>
        A E R  V U L T      ©       2023                <a href="/">PRIVACY POLICY</a>
    </div>
    <div class="MediaQueries">
        <ul>
            <li><a href="/">INICIO</a></li>
          
        </ul>
    </div>
</footer>